customtkinter
python-dotenv
faster-whisper
whisper
torch==2.4.0
psutil
google-generativeai
requests
ffmpeg-python
pillow
pytest
backoff
redis
openai
groq
tiktoken
tenacity
aiohttp
websockets
emoji
langdetect
